<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digital.lamp.lamp_kotlin">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><!-- needed for Android 28 P -->

    <!-- Permissions to safeguard data collection quality -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Required to access activity recognition. -->
    <!-- Required for 28 and below. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!-- Required for 29+. -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <application
        android:usesCleartextTraffic="true">

        <!-- Sensor services -->
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Lamp"
            android:foregroundServiceType="dataSync"
            android:exported="true" />

        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Locations"
            android:foregroundServiceType="location"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Screen"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Accelerometer"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.ActivityTransitions"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Gyroscope"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.WiFi"
            android:foregroundServiceType="connectedDevice"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.WiFi$BackgroundService"
            android:foregroundServiceType="connectedDevice"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.WiFi$BluetoothBackgroundService"
            android:foregroundServiceType="connectedDevice"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Rotation"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Light"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Magnetometer"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Barometer"
            android:foregroundServiceType="shortService"
            android:exported="true" />
        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.LinearAccelerometer"
            android:foregroundServiceType="shortService"
            android:exported="true" />

        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.Gravity"
            android:foregroundServiceType="shortService"
            android:exported="true" />

        <service
            android:name="digital.lamp.lamp_kotlin.sensor_core.TelephonySensor"
            android:foregroundServiceType="shortService"
            android:exported="true" />

    </application>
</manifest>